:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --raleway-font-family: 'Raleway', sans-serif;
    --open-sans-font-family: 'Open Sans', sans-serif;
}

/* ### Headings, Call-to-actions, Header Navigation */

head {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.fylo-image img {
    width: 5rem;
}

.header {
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--raleway-font-family);
    font-weight: 400;
}

.text-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 11rem;
   
}

.inner-first-card {
    display: flex;
    flex-direction: column;
}

.first-image img {
    width: 21rem;
    padding-bottom: 2rem;
}

.titleandtext {
    padding-bottom: 2rem;
    font-family: var(--open-sans-font-family);
    
}

.first-title {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--very-dark-blue);
}

.first-text {
    text-align: center;
    color: var(--very-dark-blue);
}

input {
    height: 2.5rem;
    width: 20.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border-color: var(--light-gray);
}

.button1 {
    width: 21rem;
    height: 2.5rem;
    background-color: var(--bright-blue);
    margin-bottom: 2rem;
    color: white;
    font-family: var(--open-sans-font-family);
    font-size: 13px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.second-image img {
    width: 21rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.inner-second-card {
    display: flex;
    flex-direction: column;
}

.titleandtext2 {
    padding-bottom: 2rem;
    font-family: var(--open-sans-font-family);
 
    
}
.second-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--very-dark-blue);
   
}

.second-text {
    text-align: center;
    color: var(--desaturated-blue);
    font-size: 15px;
    text-align: left;

}

.paragraph {
    padding-top: 1.5rem;
}

.linkandarrow {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 9.5rem;
}
.link {
    padding-bottom: 3rem; 
    color: var(--moderate-cyan);
    font-size: 14px;
    
}

