:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --raleway-font-family: 'Raleway', sans-serif;
    --open-sans-font-family: 'Open Sans', sans-serif;
}

/* ### Headings, Call-to-actions, Header Navigation */

head {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
    line-height: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-grayish-blue);
}

.inner-container {
    padding: 2rem;
}

.fylo-image img {
    width: 5rem;
}

.header {
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--raleway-font-family);
    font-weight: 400;
}

.text-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 11rem;
}

.inner-first-card {
    display: flex;
    flex-direction: column;
}

.first-image img {
    width: 19rem;
    padding-bottom: 2rem;
}

.titleandtext {
    padding-bottom: 2rem;
    font-family: var(--open-sans-font-family);
}

.first-title {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--very-dark-blue);
    line-height: 2.2rem;
}

.first-text {
    text-align: center;
    color: var(--very-dark-blue);
    font-size: 14px;
}

input {
    height: 2.2rem;
    width: 19rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-color: var(--desaturated-blue);
    border-style: solid;
    border-width: 0.1rem;
    color: var(--light-gray);
    padding-left: 1rem;
    font-size: 12px;
}

::placeholder {
    color: var(--light-gray);
}

.button {
    width: 19.5rem;
    height: 2.3rem;
    background-color: var(--bright-blue);
    margin-bottom: 2rem;
    color: white;
    font-family: var(--open-sans-font-family);
    font-size: 13px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.second-image img {
    width: 21rem;
    padding-bottom: 5rem;
    padding-top: 8rem;
}

.inner-second-card {
    display: flex;
    flex-direction: column;
}

.titleandtext2 {
    padding-bottom: 2rem;
    font-family: var(--open-sans-font-family);
}

.second-title {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--very-dark-blue);
}

.second-text {
    color: var(--desaturated-blue);
    font-size: 14px;
    text-align: left;
}

.paragraph {
    padding-top: 1.2rem;
}

.linkandarrow {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 9.3rem;
    border-bottom: 1px solid var(--moderate-cyan);
    margin-bottom: 0.7rem;
}

.link {
    color: var(--moderate-cyan);
    font-size: 14px;
}

.testimonial-card {
    padding: 2rem;
    width: 15.5rem;
    margin-bottom: 0.5rem;
}

.inner-testimonial-card {
    background-color: #fff;
    padding: 0.8rem;
    font-size: 10px;
    box-shadow: 0 0 1em var(--light-gray);
    border-radius: 3px;
}

.person-info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 7.5rem;
    font-size: 9px;
    line-height: 0.8rem;
}

.kyle-image img {
    width: 1.5rem;
    border-radius: 50%;
}

.kyle {
    font-weight: bold;
}

.position {
    font-size: 7px;
}

.third-card {
    background-color: var(--desaturated-blue);
    color: white;
}

.inner-third-card {
    padding: 3rem 3rem 2rem 3rem;
}

.titleandtext3 {
    padding-bottom: 1.5rem;
}

.third-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}

.third-text {
    font-size: 14px;
    text-align: center;
}

.input-two {
    width: 16rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    padding-left: 0.5rem;
    font-size: 11px;
}

.button-two {
    width: 16.8rem;
    font-size: 11px;
}

.footer-card {
    background-color: var(--very-dark-blue);
}

.inner-footer {
    padding: 4rem 3rem 4rem 3rem;
    color: white;
    font-size: 14px;
}

.fylo-image-two img {
    filter: invert(96%) sepia(100%) saturate(2%) hue-rotate(257deg) brightness(109%) contrast(100%);
    padding-bottom: 2rem;
    font-size: 14px;
}

.phone-information {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin-bottom: 1rem;
}

.mail-information {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-bottom: 3rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: auto;
}

.first-footer div, .second-footer div {
    height: 2rem;
}

.first-footer {
    height: 10rem;
}

.second-footer {
    height: 8rem;
}

.icons {
    width: 20px;
    filter: invert(96%) sepia(100%) saturate(2%) hue-rotate(257deg) brightness(109%) contrast(100%);
    padding: 0.3rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width: 375px) {
    .fylo-image img {
        width: 12rem;
    }
    .header {
        padding-bottom: 3rem;
    }
    .text-header {
        font-size: 18px;
        width: 18rem;
    }
    .inner-container {
        padding: 5rem;
    }
    .inner-first-card {
        display: flex;
        flex-direction: row-reverse;
    }
    .first-image img {
        width: 40rem;
    }
    .first-container {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }
    .first-title {
        text-align: left;
        font-size: 40px;
        line-height: 4rem;
    }
    .first-text {
        text-align: left;
        font-size: 20px;
        line-height: 1.5rem;
    }
    .inputandbutton {
        display: flex;
        width: 100%;
    }
    .input1 {
        padding-right: 1rem;
    }
    .button {
        width: 11rem;
    }
    .inner-second-card {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10rem;
    }
    .second-image img {
        width: 35rem;
    }
    .second-container {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        width: 300rem;
    }
    .second-title, .second-text {
        text-align: left;
    }
    .second-title {
        font-size: 40px;
        line-height: 4rem;
    }
    .second-text {
        font-size: 20px;
        line-height: 1.5rem;
        width: 40rem;
    }
    .linkandarrow {
        align-self: flex-start;
    }
    .testimonial-card {
        padding: 2rem 2rem 2rem 0;
        width: 20rem;
        
    }
    .inner-testimonial-card {
        font-size: 14px;
        
    }
}